@import url("/css/header_style.css");
/* this is to change the color in header_style to 
accomdate it for about page*/
header {
  background: #212121;
}

#menu-toggle {
  background: #212121;
}

#mobile-nav ul {
  background: #212121;
}

@media (min-width: 1025px) {
  #desktop-nav,
  #header-desktop-btn {
    display: block;
  }
  #menu-toggle {
    display: none;
  }
  nav ul {
    display: flex;
    font-size: 0.8vw;
    text-transform: uppercase;
    gap: 3vw;
    font-weight: 600;
  }
  nav ul li {
    list-style-type: none;
    cursor: pointer;
  }
}
main {
  padding: 10vh 1rem;
  text-align: center;
}

/* Contact Section Styling */
.contact-us {
  background: #303030;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 50px;
}

.contact-us h1 {
  color: #0da34e;
}

.contact-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details {
  margin-bottom: 20px;
}

.contact-details p {
  text-align: center;
}

.map-iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

form.contact-form {
  width: 100%;
}

form label,
form input,
form textarea {
  width: 100%;
  margin: 5px 0;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #000000 !important;
  color: #000 !important;
  border-radius: 4px;
}

button {
  background-color: #0da34e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0b8f45;
}

/* Media Queries for Desktop */
@media (min-width: 768px) {
  .contact-layout {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-details,
  .contact-form {
    width: 48%;
    text-align: left;
  }

  .contact-details {
    text-align: left;
    order: 1;
  }
  .location {
    width: auto;
    height: 200px;
  }

  /* .contact-details {
    padding: 40px;
  } */

  .contact-form {
    order: 2;
  }

  form label {
    margin-left: 0;
  }
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer h4 {
  font-weight: 600;
  margin-bottom: 15px;
}

.icons .fab {
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
