* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: monospace;
    background-color: #08090A;
  }
  a{
    text-decoration: none;
    color: white;
  }
  
  /* navbar */
  header {
    position: fixed;
    display: flex;
    height: 10vh;
    align-items: center;
    width: 100vw;
    background: #08090A;
    padding: 2vw 9vw;
    justify-content: space-between;
    z-index: 10;
  }
  #desktop-nav,#header-desktop-btn{
    display: none;
}
  #menu-toggle{
    background: #08090A;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: larger;
  }
  #mobile-nav{
    display: none;
  }
#mobile-nav ul{
    position: absolute;
    top: 10vh;
    width: 100%;
    background: #08090A;
    left: 0%;
}
  
  #mobile-nav li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    list-style-type: none;
   
  }  #mobile-nav li:hover {
    
    cursor: pointer;
background-color: #333;   
  }
  p{
    font-size: 16px;
    line-height: 1.5;
    color: #ddd;
}
  

 .cta-header {
    padding: 10px 20px;
    background-color: #0da34e;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    /* font-size: 1vw; */
  }
  
 .cta-header:hover {
    background-color: #0b8f45;
    cursor: pointer;
  }