@import url('/css/header_style.css');
  
  /* page1 */
  #page1 {
    width: 100%;    height: 100vh;
    display: flex;
    background-image: url(../img/hero-poster.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #page1 > h1 {
    font-size: 9vw;
    text-transform: uppercase;
    line-height: 8vw;
    font-weight: bold;
    text-align: center;

  }
  
  #page1 > h1 span {
    color: #0da34e;
}
  
  #page1 > p {
    text-align: center;
    font-weight: 400;
    margin-top: 1vw;
  }
  
  .page1_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 1vw;
  }
  
  .page1_links h4 {
    font-weight: 400;
    font-size: 13px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px 20px;
  }
  
  .moving-div {
    position: absolute;
    margin-top: 10vh;
    /* background: red;  */
    overflow: hidden;
    padding: 2vw;
    white-space: nowrap;
    bottom: 8%;
    width: 44%;
  }
  
  .moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .moving-div .move img {
    height: 3vh;
    margin: 0 1vw;
  }
  
  #left-div {
    background: linear-gradient(to right, #08090A, transparent);
    position: absolute;
    width: 10%;
    left: 0%;
    top: 0;
    height: 100%;
    z-index: 2;
  }
  
  #right-div {
    background: linear-gradient(to right, transparent, #08090A);
    position: absolute;
    width: 10%;
    right: 0%;
    top: 0;
    height: 100%;
    z-index: 2;
  }
  
  @keyframes mobe {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @media (min-width:1025px) {
    #page1 h1{
        font-size: 5vw;
        width: 80%;
    }
    #desktop-nav,#header-desktop-btn{
        display: block;
    }
    #page1 > h1 span {
        color: #0da34e;
        border: 2px solid #0b8f45;
        border-radius: 10vw;
        padding: 0px 2vw;
    }
    #page1 h4:hover {
    background: #0b8f45;
    }
    #menu-toggle{
        display: none;
    }
  nav ul{
    display: flex;
    font-size: 0.8vw;
    text-transform: uppercase;
    gap: 3vw;
    font-weight: 600;
  }
     nav ul li{
        list-style-type: none;
        cursor: pointer;
  }
  .row{
    flex-direction: row !important;
}
.service:hover{
    background: #0b8f45;
    padding: 20px 12px;
    box-sizing: border-box;
}
.service h3{
    font-size: 1.2vw;
}
.whyus{
   align-items: center;
    flex-direction: row !important;
}
}

/* ----services----- */
.services{
    width: auto;
    margin: auto;
    text-align: center;
    padding: 5vw;
}
 h2{
    font-size: 36px;
    font-weight: 600;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
}
.service{
    flex-basis: 31%;
    background: rgba(4, 4, 4, 0);
    border-radius: 10px;
    border:2px solid #0b8f45;
    padding: 20px 12px;
    box-sizing: border-box;
}
.service h3{
    text-align: center;
    margin: 15px 0;
}

.service:hover{
    box-shadow: 0 0 20px 0px  rgba(0,0,0,0.2);
}
/* Why US */
.whyus{
    width: auto;
    display: flex;
    flex-direction: column-reverse;
}
.left{
    width: 100%;
  
}
.whyusimg{
    max-width: 100%;
}
.right{
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.right ul{
    font-size: 1.2em;
    color: #ddd !important;
    line-height: 1.5em;
}
.right li{
    margin-bottom: 1vh;
}
.right h2{
    text-align: center;
}
@media (min-width:1025px) {
    .whyus{
        flex-direction: row !important;
    }
    .left{
        width: 50% !important;
    }
    .right{
        width: 45% !important;
    }
  
  
    
}
/* -----testimonials------- */
.testimonials{
    width: auto;
    margin: auto;
    padding: 8vw 2vw;
    text-align: center;
    gap: 2vw;
}
.testmonies{
    flex-basis: 42%;
    border-radius: 30px;
    /* margin-top: 5%; */
    margin-bottom: 5%;
    text-align: left;
    border: 2px solid #0b8f45;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials .row{
  padding-top: 5vh;
}
.testmonies img{
    height: 45px;
    width: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testmonies p{
    padding: 0;
}
.testmonies h3{
    margin-top: 15px;
    text-align: left;
}
.testmonies .fas{
    color: lightcoral;
}
.testmonies .far{
    color:lightcoral;
}

/*-- newsletters--- */

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.newsletter-content {
  text-align: center;
  margin-bottom: 20px;
}

.newsletter-form {
  width: 100%;  /* Takes full width on mobile */
}

input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 70%;
  max-width: 300px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0da34e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0b8f45;
}

/* Responsive Adjustments for Desktop Screens */
@media (min-width: 1024px) {
  .newsletter-container {
      flex-direction: row;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 10vw;
  }

  .newsletter-content, .newsletter-form {
      width: 50%;
  }

  .newsletter-content {
      text-align: left;
      margin-bottom: 0;  /* Remove margin on desktop */
  }

  .newsletter-form {
      display: flex;
      justify-content: flex-end;
  }

  input[type="email"] {
      width: calc(100% - 120px);  /* Adjust width to accommodate button in line */
  }
}
/* Responsive Adjustments for larger screens */
@media (min-width: 1024px) {
    .newsletter-container {
        text-align: left;
    }

    form {
        align-items: center;
    }
  
}
/* -----footer------- */
.footer{
    width: auto;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fab{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

